section[data-testid="album-page"] {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]),
            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }
    }

    div[style*="background-base:"] {
        background: transparent;
    }

    &.playing {
        .main-actionBar-ActionBarRow > div:first-child button {
            background-image: var(--pause) !important;

            &:hover {
                background-image: var(--pause-hover) !important;
            }

            &:active {
                background-image: var(--pause-pressed) !important;
            }
        }
    }
}

:root[data-page^="/album/"] .Root__main-view {
    header {
        width: calc(100% - var(--scrollbar-size)) !important;

        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window) !important;
        }

        .main-topBar-overlay {
            opacity: 0;
        }

        .contentSpacing {
            padding: 8px;
        }

        button {
            width: 24px;
            height: 24px;
            border-radius: 0;
            background: var(--play-31) 0 0 / contain no-repeat;
            margin-top: -2px;

            &:hover {
                background-image: var(--play-31-hover);
            }

            &:active {
                background-image: var(--play-31-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]),
                &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7z"]) {
                background-image: var(--pause-31) !important;

                &:hover {
                    background-image: var(--pause-31-hover) !important;
                }

                &:active {
                    background-image: var(--pause-31-pressed) !important;
                }
            }
        }

        .main-entityHeader-topbarTitle {
            font-size: 12px;
            font-family: var(--ui-font);
        }
    }
}

:root[data-wmpotify-dark-mode] {
    section[data-testid="album-page"] {
        .main-entityHeader-container:not(.main-entityHeader-withBackgroundImage) {
            background-color: #222222;
        }
        .main-entityHeader-backgroundColor {
            background-color: #222222 !important;
        }
        .main-actionBar-ActionBar {
            background-color: #222222;
        }
    }
}