section[data-testid="album-page"] {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    /* Choose column button, 1.2.59-1.2.61 */
    .main-trackList-trackList + button:has(path[d="m14 6-6 6-6-6h12z"]) {
        display: none;
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: var(--listview-header) 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 23.3px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
        top: 29px !important;
        forced-color-adjust: none;

        /* Choose column button, 1.2.57 */
        > div[role="presentation"]:first-child > button {
            display: none;
        }

        .main-trackList-trackListHeaderRow {
            height: 25px;
            grid-gap: 0;

            .main-trackList-sortable,
            .main-trackList-rowSectionIndex > div {
                color: var(--wmp11-subtext);
            }

            > div {
                border-image: var(--listview-header) 0 2 1 2 fill stretch;
                border-image-width: 0 2px 1px 2px;
                padding-left: 5px;

                > div {
                    width: 100%;
                    span {
                        text-align: left;
                    }
                }
            }

            .main-trackList-column {
                justify-content: flex-start;
            }

            .main-trackList-rowSectionIndex {
                min-width: 30px;
            }

            .main-trackList-rowSectionEnd .main-trackList-durationHeader {
                justify-content: flex-start;
            }
        }
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }
    }

    div[style*="background-base:"] {
        background: transparent;
    }

    &.playing {
        .main-actionBar-ActionBarRow > div:first-child button {
            background-image: var(--pause) !important;

            &:hover {
                background-image: var(--pause-hover) !important;
            }

            &:active {
                background-image: var(--pause-pressed) !important;
            }
        }
    }
}

:root[data-page^="/album/"] .Root__main-view {
    header {
        width: calc(100% - var(--scrollbar-size)) !important;

        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window) !important;
        }

        .main-topBar-overlay {
            opacity: 0;
        }

        .contentSpacing {
            padding: 8px;
        }

        button {
            width: 24px;
            height: 24px;
            border-radius: 0;
            background: url('resources/playerbar/play_31.png') 0 0 / contain no-repeat;
            margin-top: -2px;

            &:hover {
                background-image: url('resources/playerbar/play_31_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_31_pressed.png');
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }

        .main-entityHeader-topbarTitle {
            font-size: 12px;
            font-family: var(--ui-font);
        }
    }
}

:root[data-wmpotify-dark-mode] {
    section[data-testid="album-page"] {
        .main-entityHeader-container:not(.main-entityHeader-withBackgroundImage) {
            background-color: #222222;
        }
        .main-entityHeader-backgroundColor {
            background-color: #222222 !important;
        }
        .main-actionBar-ActionBar {
            background-color: #222222;
        }
    }
}

@media (forced-colors: active) {
    section[data-testid="album-page"] {
        .main-trackList-trackListHeader {
            background: var(--surface) !important;
            border-image: none !important;
            box-shadow: none !important;

            .main-trackList-trackListHeaderRow {
                > div {
                    border-image: none !important;
                    box-shadow: var(--border-raised-outer), var(--border-raised-inner);

                    > div:not(#Prio1) {
                        color: ButtonText !important;
                        [class*=encore-text], button {
                            color: ButtonText !important;
                        }
                        svg:has(path[d="m14 6-6 6-6-6h12z"]),
                        svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                            fill: ButtonText !important;
                        }
                    }

                    &.has-button {
                        &:active {
                            box-shadow: var(--button-shadow-color) -1px -1px inset, var(--button-shadow-color) 1px 1px inset;
                        }
                    }
                }
            }
        }
    }
}