section[data-testid="artist-page"],
section[data-test-uri^="spotify:artist:"] {
    .main-actionBar-ActionBarRow {
        > div:first-child button, /* 1.2.45 */
        > span:first-child > div:first-child button {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]),
            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]),
            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7z"]),
            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }
    }

    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        display: none;
    }

    div[style*="background-base:"] {
        background: transparent;
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    > div > div:last-child > .contentSpacing > div:last-child {
        /* Artist about button with background image */
        button[style*="i.scdn.co"] div * {
            color: white;
        }

        > div:last-child {
            p[class*=encore-text] {
                color: var(--spice-text);
            }
        }
    }

    .artist-popularTrackList-seeMore {
        color: var(--gray-text);

        &:hover {
            color: var(--spice-text);
        }
    }
}

:root[data-page^="/artist/"] .Root__main-view {
    header:not(:has(div[data-identifier="discography-topbar"])) {
        width: calc(100% - var(--scrollbar-size)) !important;

        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window) !important;
        }

        .main-topBar-overlay {
            opacity: 0;
        }

        .contentSpacing {
            padding: 8px;
        }

        button {
            width: 24px;
            height: 24px;
            border-radius: 0;
            background: var(--play-31) 0 0 / contain no-repeat;
            margin-top: -3px;

            &:hover {
                background-image: var(--play-31-hover);
            }

            &:active {
                background-image: var(--play-31-pressed);
            }

            span {
                opacity: 0;
            }
        }

        .main-entityHeader-topbarTitle {
            font-size: 12px;
            font-family: var(--ui-font);
        }
    }
}

:root[data-wmpotify-dark-mode] {
    section[data-testid="artist-page"],
    section[data-test-uri^="spotify:artist:"] {
        .main-entityHeader-container:not(.main-entityHeader-withBackgroundImage) {
            background-color: #222222;
        }
    }
}