.Root__cinema-view,
.QdB2YtfEq0ks5O4QbtwX {
    border-radius: 0 !important;
    --spice-text: white !important;
    --text-subdued: var(--spice-text) !important;
    --text-base: var(--spice-text) !important;
    z-index: 11 !important;
    outline: none !important; /* 1.2.62, 1.2.63 */

    [style*="--text-subdued"] {
        --text-subdued: var(--spice-text) !important;
    }

    &.Root__cinema-view--controls-hidden,
    &.FWlHsHhD0hSw1ldIXnOF {
        &:not(.FKsek3qI2lalTOUrGVqP):not(._6dEq1ZVxeUsyP_cwJlgR):not(.Kd2KIgZus6lPUgWrhKkt) {
            margin-top: calc(var(--panel-gap) * -1) !important;
        }
    }

    &.Root__cinema-view--controls-hidden,
    &.FWlHsHhD0hSw1ldIXnOF {
        &.FKsek3qI2lalTOUrGVqP,
        &._6dEq1ZVxeUsyP_cwJlgR,
        &.Kd2KIgZus6lPUgWrhKkt {
            --bottom-bar-height: 0px !important;
        }
    }

    > div, /* 1.2.62, 1.2.63 */
    > div > div, /* 1.2.50, 1.2.51 */
    .fOA8mVyHaHw2T808ZLpL { /* Artist image */
        border-radius: 0 !important;
    }
}

:root:not([data-wmpotify-style="xp"]),
body:fullscreen {
    .Root__cinema-view,
    .QdB2YtfEq0ks5O4QbtwX {
        margin-left: calc(var(--panel-gap) * -1) !important;
        margin-right: calc(var(--panel-gap) * -1) !important;

        &.Root__cinema-view--controls-hidden,
        &.FWlHsHhD0hSw1ldIXnOF {
            &:not(.FKsek3qI2lalTOUrGVqP):not(._6dEq1ZVxeUsyP_cwJlgR):not(.Kd2KIgZus6lPUgWrhKkt) {
                margin-bottom: calc(var(--panel-gap) * -1) !important;
            }
        }
    }
}

:root[data-wmpotify-style="xp"] {
    body:not(:fullscreen) {
        .Root__cinema-view,
        .QdB2YtfEq0ks5O4QbtwX {
            &.Root__cinema-view--controls-hidden,
            &.FWlHsHhD0hSw1ldIXnOF {
                &.FKsek3qI2lalTOUrGVqP,
                &._6dEq1ZVxeUsyP_cwJlgR,
                &.Kd2KIgZus6lPUgWrhKkt {
                    --bottom-bar-height: -19px !important;
                }
            }
        }
    }
}

body.sidebar-open-in-cinema {
    .Root__cinema-view:not(#Prio1):not(#Prio2),
    .QdB2YtfEq0ks5O4QbtwX:not(#Prio1):not(#Prio2) {
        margin-right: calc(var(--panel-gap) * -1 + 3px) !important;
    }
}