:root[data-page^="/content-feed"] .Root__main-view {
    div[role="list"] > div {
        hr {
            display: none;
        }

        > div > div[draggable] > div {
            border: solid 1px transparent;
            border-radius: 3px;

            &::after {
                display: none;
            }

            > div::after {
                display: none;
            }

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            .x-entityImage-imageContainer {
                box-shadow: var(--album-shadow-big);
                border-radius: 0;
                background: none;
            }

            button[data-encore-id="buttonPrimary"] {
                width: 42px;
                height: 43px;
                background: var(--play) no-repeat;

                &:hover {
                    background-image: var(--play-hover);
                }

                &:active {
                    background-image: var(--play-pressed);
                }

                span {
                    opacity: 0;
                }

                &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                    background-image: var(--pause) !important;

                    &:hover {
                        background-image: var(--pause-hover) !important;
                    }

                    &:active {
                        background-image: var(--pause-pressed) !important;
                    }
                }
            }
        }
    }
}