.playlist-playlist-playlist,
section[data-testid="playlist-page"],
:root[data-page^="/collection/"] main {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    .main-entityHeader-creatorButton {
        color: var(--spice-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    button[data-testid="edit-image-button"] {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    /* .playlist-playlist-searchBoxContainer in playlist, no deobfuscated class in collection */
    .main-actionBar-ActionBarRow > div:last-child {
        span, svg, input {
            color: var(--text-subdued);
        }
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;
            transform: none !important;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]),
            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }
    }

    [role="search"] {
        .playlist-inlineSearchBox-filterInput {
            position: absolute;
            top: 0;
            left: 0;
            margin: 1px;
            width: calc(100% - 2px);
            height: 20px;
            border: solid 1px var(--wmp11-search-border-inner);
            background-color: var(--wmp11-search-face);
            font-size: 12px;
            border-radius: 0;
            min-height: 0;
            padding-inline: 4px;
            box-shadow: none;
            color: var(--spice-text);
            opacity: 1;
            padding-top: 0;
            padding-bottom: 0;

            &::placeholder {
                color: var(--gray-text);
                font-style: italic;
            }
        }

        .playlist-inlineSearchBox-overlay {
            opacity: 1;
            left: 0;
            right: 0;

            .playlist-inlineSearchBox-searchIconContainer {
                position: absolute;
                top: 1px;
                right: 0px;
                width: 26px;
                height: 20px;
                border: none;
                background: url('resources/topbar/search.png') no-repeat;
            }

            &:has(.playlist-inlineSearchBox-clearButton) .playlist-inlineSearchBox-searchIconContainer {
                display: none;
            }

            .playlist-inlineSearchBox-clearButton {
                position: absolute;
                top: 1px;
                right: 0px;
                width: 26px;
                height: 20px;
                border: none;
                background: url('resources/topbar/clear.png') no-repeat;

                &:hover {
                    background: url('resources/topbar/clear_hover.png') no-repeat;
                }

                &:active {
                    background: url('resources/topbar/clear_pressed.png') no-repeat;
                }
            }

            svg {
                display: none;
            }
        }

        .playlist-inlineSearchBox-expandButton {
            display: none;
        }
    }

    .playlist-playlist-playlistInlineCurationBackButton {
        [class*=encore-text], svg {
            color: var(--spice-text);
        }
    }

    .ENWs3JxcqtD98_8fbPz2 {
        border: solid 1px transparent;

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }

        [aria-selected="true"] &,
        &:focus-within {
            background: var(--item-selection-background);
            border-color: var(--item-active-border);
        }

        [aria-selected="true"] &:hover,
        &:hover:focus-within {
            background: var(--item-selection-hover-background);
            border-color: var(--item-selection-hover-border);
        }
    }
}

:root[data-page^="/playlist/"] .Root__main-view,
:root[data-page^="/collection/"] .Root__main-view {
    header {
        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window) !important;

            .main-topBar-overlay {
                background: var(--wmp11-window) !important;
            }
        }

        .contentSpacing {
            padding: 8px;
            padding-right: 0;
        }

        .main-topBar-topbarContent {
            > div:first-child button {
                width: 24px;
                height: 24px;
                border-radius: 0;
                background: var(--play-31) 0 0 / contain no-repeat;
                margin-top: -2px;

                &:hover {
                    background-image: var(--play-31-hover);
                }

                &:active {
                    background-image: var(--play-31-pressed);
                }

                &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]),
                &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7z"]) {
                    background-image: var(--pause-31) !important;

                    &:hover {
                        background-image: var(--pause-31-hover) !important;
                    }

                    &:active {
                        background-image: var(--pause-31-pressed) !important;
                    }
                }

                span {
                    opacity: 0;
                }
            }

            .main-entityHeader-topbarTitle {
                font-size: 12px;
                font-family: var(--ui-font);
            }

            #playlist-search-box-container {
                margin-top: 3px;
            }
        }
    }
}

:root[data-wmpotify-dark-mode] {
    .playlist-playlist-playlist,
    section[data-testid="playlist-page"],
    &[data-page^="/collection/"] main {
        .main-entityHeader-backgroundColor {
            background-color: #222222 !important;
        }
        .main-actionBar-ActionBar {
            background-color: #222222;
        }
    }
}