.playlist-playlist-playlist,
section[data-testid="playlist-page"],
:root[data-page^="/collection/"] main {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    .main-entityHeader-creatorButton {
        color: var(--spice-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    /* Choose column button, 1.2.59-1.2.61 */
    .main-trackList-trackList + button:has(path[d="m14 6-6 6-6-6h12z"]) {
        display: none;
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    /* .playlist-playlist-searchBoxContainer in playlist, no deobfuscated class in collection */
    .main-actionBar-ActionBarRow > div:last-child {
        span, svg, input {
            color: var(--text-subdued);
        }
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;
            transform: none !important;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }
    }
}

:root[data-page^="/playlist/"] .Root__main-view,
:root[data-page^="/collection/"] .Root__main-view {
    header {
        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window) !important;

            .main-topBar-overlay {
                background: var(--wmp11-window) !important;
            }
        }

        .contentSpacing {
            padding: 8px;
            padding-right: 0;
        }

        .main-topBar-topbarContent {
            > div:first-child button {
                width: 24px;
                height: 24px;
                border-radius: 0;
                background: var(--play-31) 0 0 / contain no-repeat;
                margin-top: -2px;

                &:hover {
                    background-image: var(--play-31-hover);
                }

                &:active {
                    background-image: var(--play-31-pressed);
                }

                span {
                    opacity: 0;
                }
            }

            .main-entityHeader-topbarTitle {
                font-size: 12px;
                font-family: var(--ui-font);
            }

            #playlist-search-box-container {
                margin-top: 3px;
            }
        }
    }
}

:root[data-wmpotify-dark-mode] {
    .playlist-playlist-playlist,
    section[data-testid="playlist-page"],
    &[data-page^="/collection/"] main {
        .main-entityHeader-backgroundColor {
            background-color: #222222 !important;
        }
        .main-actionBar-ActionBar {
            background-color: #222222;
        }
    }
}