.playlist-playlist-playlist,
section[data-testid="playlist-page"],
:root[data-page^="/collection/"] main {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    .main-entityHeader-creatorButton {
        color: var(--spice-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    /* Choose column button, 1.2.59-1.2.61 */
    .main-trackList-trackList + button:has(path[d="m14 6-6 6-6-6h12z"]) {
        display: none;
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: var(--listview-header) 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 23.3px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
        top: 29px !important;
        forced-color-adjust: none;

        /* Choose column button, 1.2.57 */
        > div[role="presentation"]:first-child > button {
            display: none;
        }

        .main-trackList-trackListHeaderRow {
            height: 25px;
            grid-gap: 0;

            .main-trackList-sortable,
            .main-trackList-rowSectionIndex > div {
                [class*=encore-text] {
                    color: var(--wmp11-subtext) !important;
                }
            }

            > div {
                border-image: var(--listview-header) 0 2 1 2 fill stretch;
                border-image-width: 0 2px 1px 2px;
                padding-left: 5px;

                &.selected {
                    border-image-source: url('resources/ui/listview_header_selected.png');
                    [class*=encore-text] {
                        color: black !important;
                    }
                    svg:has(path[d="m14 6-6 6-6-6h12z"]),
                    svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                        fill: black !important;
                    }
                    svg:has(path[d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"]) {
                        fill: black !important;
                    }
                }

                &.has-button {
                    > div:empty { /* 1.2.55 */
                        opacity: 0;
                    }

                    &:hover {
                        border-image-source: url('resources/ui/listview_header_hover.png');
                        [class*=encore-text] {
                            color: black !important;
                        }
                        svg:has(path[d="m14 6-6 6-6-6h12z"]),
                        svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                            fill: black !important;
                        }
                        svg:has(path[d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"]) {
                            fill: black !important;
                        }
                    }

                    &:active {
                        border-image-source: url('resources/ui/listview_header_pressed.png');
                        [class*=encore-text] {
                            color: black !important;
                        }
                        svg:has(path[d="m14 6-6 6-6-6h12z"]),
                        svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                            fill: black !important;
                        }
                        svg:has(path[d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"]) {
                            fill: black !important;
                        }
                    }
                }

                > div {
                    width: 100%;
                    button,
                    div {
                        width: 100%;
                        justify-content: flex-start;

                        svg:has(path[d="m14 6-6 6-6-6h12z"]),
                        svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                            fill: var(--window-text) !important;
                            order: 1;
                            width: 11px;
                            margin-top: -2px;
                        }
                    }
                }
            }

            .main-trackList-rowSectionIndex {
                min-width: 30px;
            }
        }
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    /* .playlist-playlist-searchBoxContainer in playlist, no deobfuscated class in collection */
    .main-actionBar-ActionBarRow > div:last-child {
        span, svg, input {
            color: var(--text-subdued);
        }
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;
            transform: none !important;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }
    }
}

:root[data-page^="/playlist/"] .Root__main-view,
:root[data-page^="/collection/"] .Root__main-view {
    header {
        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window) !important;

            .main-topBar-overlay {
                background: var(--wmp11-window) !important;
            }
        }

        .contentSpacing {
            padding: 8px;
            padding-right: 0;
        }

        .main-topBar-topbarContent {
            > div:first-child button {
                width: 24px;
                height: 24px;
                border-radius: 0;
                background: var(--play-31) 0 0 / contain no-repeat;
                margin-top: -2px;

                &:hover {
                    background-image: var(--play-31-hover);
                }

                &:active {
                    background-image: var(--play-31-pressed);
                }

                span {
                    opacity: 0;
                }
            }

            .main-entityHeader-topbarTitle {
                font-size: 12px;
                font-family: var(--ui-font);
            }

            #playlist-search-box-container {
                margin-top: 3px;
            }
        }
    }
}

:root[data-wmpotify-dark-mode] {
    .playlist-playlist-playlist,
    section[data-testid="playlist-page"],
    &[data-page^="/collection/"] main {
        .main-entityHeader-backgroundColor {
            background-color: #222222 !important;
        }
        .main-actionBar-ActionBar {
            background-color: #222222;
        }
    }
}

@media (forced-colors: active) {
    .playlist-playlist-playlist,
    section[data-testid="playlist-page"],
    :root[data-page^="/collection/"] main {
        .main-trackList-trackListHeader {
            background: var(--surface) !important;
            border-image: none !important;
            box-shadow: none !important;

            .main-trackList-trackListHeaderRow {

                > div {
                    border-image: none !important;
                    box-shadow: var(--border-raised-outer), var(--border-raised-inner);

                    > div:not(#Prio1) {
                        color: ButtonText !important;
                        [class*=encore-text], button {
                            color: ButtonText !important;
                        }
                        svg:has(path[d="m14 6-6 6-6-6h12z"]),
                        svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                            fill: ButtonText !important;
                        }
                        svg:has(path[d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"]) {
                            fill: ButtonText !important;
                        }
                    }

                    &.has-button {
                        &:active {
                            box-shadow: var(--button-shadow-color) -1px -1px inset, var(--button-shadow-color) 1px 1px inset;
                        }
                    }
                }
            }
        }
    }
}