#searchPage {
    .main-gridContainer-gridContainer {
        > div > a > div > span {
            color: white;
        }

        div[aria-labelledby^="card-title-spotify:user:"] {
            .main-card-imageContainer {
                box-shadow: none;

                > div:first-child {
                    border-radius: 0;

                    /* userframe.png: 190x190, picture area: center 126x126, 32px frame in each side */
                    scale: 0.67;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--userframe) 0 0 / cover no-repeat;
                }
            }
        }
    }

    div[data-testid="top-result-card"] {
        > div > div {
            > div:has(img) {
                box-shadow: var(--album-shadow-big);
                border-radius: 0;
                background: none;

                img {
                    border-radius: 0;
                }
            }

            button {
                width: 42px;
                height: 43px;
                background: var(--play) no-repeat;

                &:hover {
                    background-image: var(--play-hover);
                }

                &:active {
                    background-image: var(--play-pressed);
                }

                span {
                    opacity: 0;
                }

                &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                    background-image: var(--pause) !important;

                    &:hover {
                        background-image: var(--pause-hover) !important;
                    }

                    &:active {
                        background-image: var(--pause-pressed) !important;
                    }
                }
            }
        }
    }
}