#searchPage {
    .main-gridContainer-gridContainer {
        > div > a > div > span {
            color: white;
        }
    }

    div[data-testid="top-result-card"] {
        > div > div {
            > div:has(img) {
                box-shadow: var(--album-shadow-big);
                border-radius: 0;
                background: none;
            }

            button {
                width: 42px;
                height: 43px;
                background: var(--play) no-repeat;

                &:hover {
                    background-image: var(--play-hover);
                }

                &:active {
                    background-image: var(--play-pressed);
                }

                span {
                    opacity: 0;
                }

                &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                    background-image: var(--pause) !important;

                    &:hover {
                        background-image: var(--pause-hover) !important;
                    }

                    &:active {
                        background-image: var(--pause-pressed) !important;
                    }
                }
            }
        }
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: var(--listview-header) 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 23.3px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
        top: 29px !important;
        forced-color-adjust: none;

        /* Choose column button, 1.2.57 */
        > div[role="presentation"]:first-child > button {
            display: none;
        }

        .main-trackList-trackListHeaderRow {
            height: 25px;
            grid-gap: 0;

            .main-trackList-sortable,
            .main-trackList-rowSectionIndex > div {
                color: var(--wmp11-subtext);
            }

            > div {
                border-image: var(--listview-header) 0 2 1 2 fill stretch;
                border-image-width: 0 2px 1px 2px;
                padding-left: 5px;

                > div {
                    width: 100%;
                    span {
                        text-align: left;
                    }
                }
            }

            .main-trackList-column {
                justify-content: flex-start;
            }

            .main-trackList-rowSectionIndex {
                min-width: 30px;
            }

            .main-trackList-rowSectionEnd .main-trackList-durationHeader {
                justify-content: flex-start;
            }
        }
    }
}