:root {
    --wmpotify-tint-hue: 0deg;
    --wmpotify-tint-sat: 1;
}

#wmpotify-title-bar::before,
#main::before,
#main::after,
.Root__globalNav::before,
.main-globalNav-historyButtons,
#wmpotify-tabs-container,
.main-topBar-topbarContentRight > button:last-child::before,
.Root__now-playing-bar::before,
.Root__now-playing-bar::after,
.wmpotify-tintable {
    filter: hue-rotate(var(--wmpotify-tint-hue)) saturate(var(--wmpotify-tint-sat));
}

@media (forced-colors: none) {
    .main-nowPlayingBar-nowPlayingBar.tinted .player-controls__buttons,
    .main-nowPlayingBar-nowPlayingBar.tinted .playback-bar,
    .main-nowPlayingBar-nowPlayingBar.tinted .main-nowPlayingBar-right,
    .main-trackList-trackListHeader,
    .main-yourLibraryX-filterArea + div {
        filter: hue-rotate(var(--wmpotify-tint-hue)) saturate(var(--wmpotify-tint-sat));
    }

    :root[data-wmpotify-tint-more] {
        /* Play/Pause buttons */
        .view-homeShortcutsGrid-PlayButtonContainer button,
        div[class*="PromotionDefaultNative-module_footer-area"] > span[data-encore-id="overlayTrigger"]:first-child button,
        .main-card-PlayButtonContainer button,
        .main-actionBar-ActionBarRow > div:first-child > button,
        .main-actionBar-ActionBarRow > span:first-child > div:first-child button,
        .main-topBar-topbarContent > div:first-child button,
        &[data-page^="/content-feed"] .Root__main-view div[role="list"] button[data-encore-id="buttonPrimary"],
        .artist-artistDiscography-cardGrid > div button,
        div[data-testid="top-result-card"] > div > div button,
        .main-yourLibraryX-libraryContainer div[data-encore-id="card"] > div:nth-child(3) > div > div button,

        /* Toolbar buttons */
        .wmpotify-toolbar-button:not(#wmpotify-queue-clear-button),
        div[data-identifier="discography-topbar"] [role="switch"],
        button[role="combobox"],
        header nav li,
        [class*="LegacyChipComponent-checkbox-chip-sm-"],

        /* Misc */
        .x-filterBox-searchIconContainer,
        .x-filterBox-clearButton,
        #wmpotify-search-clear-button,
        div[data-testid="PanelHeader_CloseButton"] > button,
        #wmpotify-config-prev,
        #wmpotify-config-next,
        &[data-page^="/user/"] main > section .main-entityHeader-imageContainer .main-entityHeader-image:after {
            filter: hue-rotate(var(--wmpotify-tint-hue)) saturate(var(--wmpotify-tint-sat));
        }
    }
}

#wmpotify-config-sat {
    filter: hue-rotate(var(--wmpotify-tint-hue));
}