:root[data-wmpotify-control-style="xp"],
:root[data-wmpotify-flat-menus]:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="10"]) {
  /* For Spotify menus */
  #context-menu:not(#Prio1):not(#Prio2) {
    ul:not([id*="curation-"]) {
      &[role="menu"] {
        background: var(--menu);
        box-shadow: var(--button-shadow-color) -1px -1px inset, var(--button-shadow-color) 1px 1px inset,
          5px 5px 4px -4px rgba(0, 0, 0, 0.75);

        > [role="menuitem"],
        .main-contextMenu-menuItem {
          > a,
          > button,
          > label,
          &[aria-haspopup="true"] {
            &:hover,
            &:focus-visible {
              background: var(--menu-hilight);
              color: var(--hilight-text);
            }
          }

          > button,
          > a {
            &.vvMORUKtQKpQcpQ992bR,
            &.Vz3pFUXmll6fKB5Fc4nd {
              &::before {
                border-top: solid 1px var(--button-shadow-color);
                border-bottom: solid 1px transparent;
              }
            }
          }
        }
        
        &:has(+ [role="menu"]) {
          &::after {
            background: var(--menu);
            border: none;
          }
        }
      }
    }

    /* Add to playlist menu */
    form,
    ul[id*="curation-folder-submenu-"] {
      background: var(--menu);
      border: solid 1px var(--button-shadow-color);
      box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 0.75);
    }
  }

  &[data-wmpotify-dark-mode] {
    #context-menu:not(#Prio1):not(#Prio2) {
      form,
      ul[id*="curation-folder-submenu-"] {
        background: #101010;
      }
    }
  }

  /* Flat menus for MadMenu */
  .contextMenuBg {
    box-shadow: var(--button-shadow-color) -1px -1px inset, var(--button-shadow-color) 1px 1px inset, 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  }

  .contextMenuItem[data-active] {
    box-shadow: var(--hilight) -1px -1px inset, var(--hilight) 1px 1px inset;
    background-color: var(--menu-hilight);
  }
}