:root:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="10"]) {
  /* For Spotify menus */
  #context-menu {
    forced-color-adjust: none;
    ul:not([id*="curation-"]) {
      &[role] {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
      }

      &[role="menu"] {
        min-width: 120px;
        padding: 3px;
        background: var(--surface);
        color: var(--menu-text);
        box-shadow: var(--border-window-outer), var(--border-window-inner), 5px 5px 4px -4px rgba(0, 0, 0, 0.75);
        border-radius: 0;
        overflow-x: hidden;
        animation: fade 0.2s;

        .main-contextMenu-filterPlaylistSearchContainer {
          height: unset;
        }

        .main-contextMenu-filterPlaylistSearch {
          display: none;
        }

        [role="menuitem"] & {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 99;
        }

        & [role="menuitem"] > [role="menu"] {
          top: -4px;
          left: 100%;
        }

        > [role="menuitem"],
        .main-contextMenu-menuItem {
          &:has(> span) {
            display: none;
          }

          .main-contextMenu-menuItemButton {
            height: 18px;

            span {
              margin-left: 7px;
              line-height: 1.1;
              overflow: visible;
            }

            .TypeElement-type-mesto-textBrightAccent {
              color: var(--menu-text);
            }
          }

          > a,
          > button,
          > label,
          &[aria-haspopup="true"] {
            all: unset;
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 3px 10px 3px 10px;
            box-sizing: border-box;
            white-space: nowrap;

            &:hover,
            &:focus-visible {
              background: var(--hilight);
              color: var(--hilight-text);

              &:not(:has(svg.activeStyle)) span::before {
                background-image: var(--checkmark-menu-hover);
              }

              svg {
                fill: var(--hilight-text) !important;
              }

              .TypeElement-type-mesto-textBrightAccent {
                color: var(--hilight-text) !important;
              }
            }

            span {
              font: var(--menu-font);
            }

            /* Checkmark */
            &:has(path[d^="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0"]) {
              svg:has(path[d^="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0"]) {
                display: none;
              }

              > span::before {
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                left: 0;
                width: 16px;
                height: 16px;
                background: var(--checkmark-menu) no-repeat;
                z-index: 2;
              }

              &:has(svg.activeStyle),
              &[role="menuitemradio"] {
                > span::before {
                  content: "â—";
                  font-family: Arial !important;
                  font-size: 1.3em !important;
                  color: inherit;
                  position: absolute;
                  top: 0;
                  left: 4px;
                  width: unset;
                  height: unset;
                  background: none;
                }
              }
            }
          }

          > button,
          > a {
            &::after {
              content: none;
            }

            span:not(:first-child) {
              svg:has(path[d="M14 10 8 4l-6 6h12z"]),
              svg:has(path[d="M14 10 8 4l-6 6z"]) {
                /* submenu mark */
                left: auto;
                top: 0;
                right: -3px;
                transform: scale(0.6) rotate(90deg);
              }
            }

            &.vvMORUKtQKpQcpQ992bR { /* Top separator */
              /* has multiple classes, usually meaning a separator on top or bottom */
              &::before {
                top: -7px;
                left: 1px;
                width: calc(100% - 1px);
                border: none;
                border-top: solid 1px var(--button-shadow-color);
                border-bottom: solid 1px var(--button-hilight);
                pointer-events: none;
              }
              margin-top: 9px;
            }

            &.Vz3pFUXmll6fKB5Fc4nd,
            &.main-contextMenu-dividerAfter { /* Bottom separator */
              &::before {
                content: "";
                position: absolute;
                bottom: -6px;
                left: 1px;
                width: calc(100% - 1px);
                border: none;
                border-top: solid 1px var(--button-shadow-color);
                border-bottom: solid 1px var(--button-hilight);
                pointer-events: none;
              }
              margin-bottom: 9px;
            }
          }

          &:last-child .Vz3pFUXmll6fKB5Fc4nd {
            margin-bottom: 0;
            &::before {
              display: none;
            }
          }

          svg {
            position: absolute;
            top: 1px;
            left: 0;
            transform: scale(0.6);
            --text-subdued: var(--menu-text);
          }
        }

        div.main-contextMenu-dividerAfter { /* 1.2.69 */
          border-top: solid 1px var(--button-shadow-color);
          border-bottom: solid 1px var(--button-hilight);
          margin: 4px 0 3px 1px;
          width: calc(100% - 1px);
        }

        /* 1.2.61 LibX view chooser */
        > div[style*="view-menu-selected-offset"] {
          background: none;
          padding: 0;

          span {
            display: flex;
            justify-content: center;
            height: 20px;

            svg {
              position: relative;
              top: 3px;
              left: 0;
              transform: scale(0.8);
            }
          }
        }

        /* Hide the bottom separator if there is no menu below */
        &:not(:has(+ [role="menu"])) {
          .main-contextMenu-menuItem:not(:has(+ .main-contextMenu-menuItem)) {
            .Vz3pFUXmll6fKB5Fc4nd:not(#Prio1):not(#Prio2),
            .main-contextMenu-dividerAfter:not(#Prio1):not(#Prio2) {
              &::before {
                display: none;
              }
            }
          }
          .main-contextMenu-dividerAfter:not(.main-contextMenu-menuItemButton):not(:has(+ .main-contextMenu-menuItem)) {
            display: none;
          }
        }

        &:has(+ [role="menu"]) {
          position: relative;
          border-bottom: 0;

          &::after {
            content: "";
            pointer-events: none;
            position: absolute;
            left: 1px;
            right: 1px;
            bottom: 0;
            height: 2px;
            background: var(--surface);
            border-left: solid 1px var(--button-hilight);
            border-right: solid 1px var(--button-shadow-color);
            border-bottom: none;
            z-index: 2;
          }

          + [role="menu"] {
            position: relative;
            border-top: 0;
            padding-top: 0;
            margin-top: -2px;
          }
        }
      }
    }

    /* Add to playlist menu */
    form,
    ul[id*="curation-folder-submenu-"] {
      background: var(--surface);
      border-radius: 0;
      box-shadow: var(--border-window-outer), var(--border-window-inner);

      > div:last-child {
        background: transparent;
      }

      [role="search"] {
        width: 100%;
      }
    }
  }

  &[data-wmpotify-dark-mode]:not([data-wmpotify-control-style="xp"]) {
    --menu-background-color: #2b2b2b;
    --menu-border-color: #808080;
    --menu-icon-area-color: #2b2b2b;
    --menu-item-hover-color: #414141;
    --menu-item-radio-dot-color: white;
  }
}