html:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="xp"]):not([data-wmpotify-control-style="10"]) {
  ::-webkit-scrollbar {
    width: 16px;

    &:horizontal {
      height: 17px;
    }

    &-corner {
      background: var(--surface);
    }

    &-track {
      background-image: var(--scroll-track);
    }

    &-thumb {
      background-color: var(--surface);
      box-shadow: var(--border-raised-outer), var(--border-raised-inner);
      forced-color-adjust: none;
    }

    &-button {
      &:horizontal {
        &:start {
          &:decrement,
          &:increment {
            display: block;
          }

          &:increment,
          &:decrement {
            display: none;
          }

          background-image: var(--scroll-left);
          width: 16px;
        }

        &:end {
          &:decrement,
          &:increment {
            display: block;
          }

          &:increment,
          &:decrement {
            display: none;
          }

          background-image: var(--scroll-right);
          width: 16px;
        }
      }

      &:vertical {
        &:start {
          &:decrement,
          &:increment {
            display: block;
          }

          background-image: var(--scroll-up);
          height: 17px;
        }

        &:end {
          &:decrement,
          &:increment {
            display: block;
          }

          background-image: var(--scroll-down);
          height: 17px;
        }
      }

      &:horizontal:start:increment,
      &:horizontal:end:decrement,
      &:vertical:start:increment,
      &:vertical:end:decrement {
        display: none !important;
      }
    }
  }
}