@import "aero/button.scss";
@import "xp/button.scss";
@import "classic/button.scss";
@import "10/button.scss";

.wmpotify-toolbar-button,
div[data-identifier="discography-topbar"] [role="switch"],
button[role="combobox"],
header nav li,
[class*="LegacyChipComponent-checkbox-chip-sm-"] {
  appearance: none;
  background: transparent;
  border: none;
  height: 21px;
  position: relative;
  font-size: 12px;
  color: var(--spice-text) !important;
  border: 3px solid transparent;
  border-image: 3 fill stretch;
  border-image-width: 3px;
  box-sizing: border-box;
  cursor: default !important;
  margin: 0;
  margin-inline: 0 !important;

  &:hover {
    border-image-source: url("resources/ui/toolbarbutton_hover.png");
    color: black !important;

    a, > span {
      color: black !important;
    }
  }

  &:active,
  &:has([class*="ctive"]),
  &[class*="-selected-"] {
    border-image-source: url("resources/ui/toolbarbutton_pressed.png");
    color: black !important;

    a, > span {
      color: black !important;
    }
  }

  a, > span, .Dropdown-control {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 5px !important;
    min-block-size: unset !important;
    color: var(--spice-text) !important;
    height: 100%;
    cursor: default !important;
  }
}

.search-searchCategory-categoryGridItem {
  padding: 0;
}

button.x-sortBox-sortDropdown,
button[aria-controls="sort-and-view-picker"] {
  color: var(--spice-text);
  padding: 0;
  gap: 0;
  order: -1;

  [class*=encore-text] {
    order: 1;
    font-size: 12px;
    height: unset;
  }

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 3px;
    background: url('resources/icon/list.png') no-repeat;
  }

  &:has(path[d="M15.5 13.5H.5V12h15v1.5zm0-4.75H.5v-1.5h15v1.5zm0-4.75H.5V2.5h15V4z"]) {
    &::before {
      background-image: url('resources/icon/compact.png');
    }
  }

  &:has(path[d="M1 1h6v6H1V1zm1.5 1.5v3h3v-3h-3zM1 9h6v6H1V9zm1.5 1.5v3h3v-3h-3zM9 1h6v6H9V1zm1.5 1.5v3h3v-3h-3zM9 9h6v6H9V9zm1.5 1.5v3h3v-3h-3z"]) {
    &::before {
      background-image: url('resources/icon/grid.png');
    }
  }

  svg {
    display: none;
  }

  &::after {
    content: 'â·';
    font-size: 12px;
    color: var(--spice-text);
    margin-top: -2px;
    margin-left: 4px;
    margin-right: -2px;
    order: 2;
    inline-size: unset;
  }

  &:hover::after {
    color: black;
  }
}

button.wmpotify-aero,
button.Button-sc-y0gtbx-0,
.ReactModalPortal button.Button-sc-qlcn5g-0,
.ReactModalPortal button.Button-sc-1dqy6lx-0,
#context-menu button.Button-sc-1dqy6lx-0,
#context-menu button.Button-sc-qlcn5g-0,
.spicetify-exp-features button.reset:not(#Prio1):not(#Prio2) {
  cursor: default !important;
  transform: none !important;
  opacity: 1 !important;
  font: var(--font);

  svg {
    display: none;
  }

  .ButtonInner-small,
  .ButtonInner-medium {
    display: block;
    background: none !important;
    color: var(--spice-text);
    padding-block: 0;
    padding-inline: 0;
    min-block-size: 0;
    transform: none !important;
  }
}

@media (forced-colors: active) {
  .wmpotify-toolbar-button,
  div[data-identifier="discography-topbar"] [role="switch"],
  button[role="combobox"],
  header nav li,
  [class*="LegacyChipComponent-checkbox-chip-sm-"] {
    border: none;
    padding: 3px;
    border-image: none !important;
    border-radius: 0;
    forced-color-adjust: none;

    &:hover {
      box-shadow: var(--border-raised-outer), var(--border-raised-inner);
      color: CanvasText !important;

      a, > span {
        color: CanvasText !important;
      }
    }

    &:active,
    &:has([class*="ctive"]),
    &[class*="-selected-"] {
      box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
      color: CanvasText !important;

      a, > span {
        color: CanvasText !important;
      }
    }
  }

  button.x-sortBox-sortDropdown,
  button[aria-controls="sort-and-view-picker"] {
    &::before {
      margin-left: 5px !important;
    }

    &::after {
      color: CanvasText !important;
      margin-right: 1px !important;
    }
  }
}