:root {
    --libx-sidebar-width: 170px;
}

.main-yourLibraryX-libraryContainer {
    > div {
        box-shadow: none;
    }

    .main-yourLibraryX-filterArea {
        position: relative;
        width: 100%;
        height: 29px;
        border-bottom: solid 1px var(--wmp11-separator-shadow);
        outline: solid 1px var(--wmp11-separator-light);
        overflow: hidden;
        margin: 0;

        [role="presentation"] {
            order: -1;
        }

        .main-yourLibraryX-libraryFilter {
            background: var(--wmp11-window);
            z-index: 1;
            grid-gap: 0; /* fix for 1.2.60 */
        }
    }

    button[role="combobox"] {
        top: -3px;
        min-height: 0;
        opacity: 1 !important;
        transform: none !important;
        grid-gap: 0; /* fix for 1.2.59 */

        span:nth-child(2) {
            display: none;
        }
    }

    /* listview header */
    .main-yourLibraryX-filterArea + div {
        background: none !important;
        border-image: var(--listview-header) 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0;
        height: 25px;
        margin: 0;
        padding: 0 32px 0 8px;
        margin-top: 1px;

        > span {
            height: 25px;
            border-image: var(--listview-header) 0 2 1 2 fill stretch;
            border-image-width: 0 2px 1px 2px;
            padding-left: 5px;
            color: var(--wmp11-subtext);
            line-height: 2;
            font-size: 12px;
            font-weight: normal;

            &:last-child {
                justify-self: start;
            }
        }
    }

    .main-rootlist-wrapper {
        margin-bottom: 50px;
    }

    &:has(ul[role="treegrid"]) {
        .main-yourLibraryX-filterArea {
            button[role="combobox"] {
                span:nth-child(2) {
                    background-image: url('resources/icon/grid.png');
                }
            }
        }

        #wmpotify-libx-sidebar {
            margin-top: 0;
        }

        ul[role="treegrid"] {
            li[role="row"] {
                div[data-encore-id="card"] {
                    border: solid 1px transparent;
                    border-radius: 4px;

                    &:hover {
                        background: var(--item-hover-background);
                        border-color: var(--item-hover-border);
                    }

                    &::after {
                        display: none;
                    }

                    > div:nth-child(3) > div {
                        box-shadow: none;
                        border-radius: 0;
                        background: none;

                        &:has(img:not([src*="liked-songs"])) {
                            box-shadow: var(--album-shadow-big);
                        }

                        > div  {
                            > :first-child {
                                border-radius: 0;

                                &:has(path[d="M6 3h15v15.167a3.5 3.5 0 1 1-3.5-3.5H19V5H8v13.167a3.5 3.5 0 1 1-3.5-3.5H6V3zm0 13.667H4.5a1.5 1.5 0 1 0 1.5 1.5v-1.5zm13 0h-1.5a1.5 1.5 0 1 0 1.5 1.5v-1.5z"]) {
                                    background: url('resources/library/playlist_192.png') 0 0 / cover no-repeat;
                                }

                                &:has(path[d="M1 4a2 2 0 0 1 2-2h5.155a3 3 0 0 1 2.598 1.5l.866 1.5H21a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm7.155 0H3v16h18V7H10.464L9.021 4.5a1 1 0 0 0-.866-.5z"]) {
                                    background: url('resources/library/folder_192.png') 0 0 / cover no-repeat;
                                }

                                /* Local files playlist */
                                &:has(path[d="M1 4a2 2 0 0 1 2-2h5.155a3 3 0 0 1 2.598 1.5l.866 1.5H21a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4z"]) {
                                    background: url('resources/library/download_192.png') 0 0 / cover no-repeat;
                                }

                                > div {
                                    background: none;
                                }

                                svg {
                                    display: none;
                                }

                                &[src*="liked-songs"] {
                                    object-position: -999px;
                                    background: url('resources/library/liked_192.png') 0 0 / cover no-repeat;
                                }
                            }

                            button {
                                background: var(--play) center / cover no-repeat;
                                border-radius: 0;
                
                                &:hover {
                                    background-image: var(--play-hover);
                                }
                
                                &:active {
                                    background-image: var(--play-pressed);
                                }
                
                                span {
                                    opacity: 0;
                                }

                                &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                                    background-image: var(--pause);

                                    &:hover {
                                        background-image: var(--pause-hover);
                                    }

                                    &:active {
                                        background-image: var(--pause-pressed);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    li[role="listitem"] {
        div[data-encore-id="listRow"] {   
            border: solid 1px transparent;
            border-radius: 4px;

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            &::after {
                display: none;
            }

            .x-entityImage-imageContainer {
                box-shadow: none;
                border-radius: 0;
                background: none;

                &:has(img:not([src*="liked-songs"])) {
                    box-shadow: var(--album-shadow-small);
                }

                .x-entityImage-imagePlaceholder {
                    background-color: transparent;

                    &:has(path[d="M6 3h15v15.167a3.5 3.5 0 1 1-3.5-3.5H19V5H8v13.167a3.5 3.5 0 1 1-3.5-3.5H6V3zm0 13.667H4.5a1.5 1.5 0 1 0 1.5 1.5v-1.5zm13 0h-1.5a1.5 1.5 0 1 0 1.5 1.5v-1.5z"]) {
                        background: url('resources/library/playlist_192.png') 0 0 / cover no-repeat;
                    }

                    &:has(path[d="M1 4a2 2 0 0 1 2-2h5.155a3 3 0 0 1 2.598 1.5l.866 1.5H21a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm7.155 0H3v16h18V7H10.464L9.021 4.5a1 1 0 0 0-.866-.5z"]) {
                        background: url('resources/library/folder_192.png') 0 0 / cover no-repeat;
                    }

                    > div {
                        background: none;
                    }

                    svg {
                        display: none;
                    }
                }

                img[src*="liked-songs"] {
                    object-position: -999px;
                    background: url('resources/library/liked_192.png') 0 0 / cover no-repeat;
                }

                & + div {
                    display: none;
                }
            }

            /* Local files playlist */
            div[id*="spotify:collection:local-files"] + div > div > div > div {
                background: url('resources/library/download_192.png') 0 0 / cover no-repeat;

                svg {
                    display: none;
                }
            }
        }

        span:last-child {
            justify-self: start;
        }
    }

    /* Custom header */
    #wmpotify-libx-header {
        position: absolute;
        top: 0;
        left: 0;
        height: 29px;
        z-index: 1;
        display: flex;
        padding-top: 3px;
        padding-left: 4px;

        .wmpotify-libx-header-root-icon {
            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                margin-left: -2px;
                background: url('resources/library/music.png') no-repeat;
            }
        }

        > div,
        > button {
            display: flex;
            padding-left: 1px;

            &:not(:last-child)::after {
                content: 'âµ';
                font-size: 12px;
                color: var(--spice-text);
                margin-top: -2px;
                margin-left: 4px;
                margin-right: -2px;
            }

            &:hover::after {
                color: black;
            }
        }

        > div {
            pointer-events: none;
        }
    }

    /* Custom sidebar */
    #wmpotify-libx-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: var(--libx-sidebar-width);
        border-right: solid 1px var(--wmp11-separator-light);
        outline: solid 1px var(--wmp11-separator-shadow);
        padding-top: 1px;
        padding-left: 20px;
        margin-top: -26px;

        .wmpotify-libx-sidebar-item {
            display: flex;
            appearance: none;
            border: solid 1px transparent;
            border-radius: 3px;
            background: none;
            font-size: 12px;
            color: var(--spice-text);
            text-align: left;
            height: 18px;
            padding-right: 5px;
            forced-color-adjust: none;

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
                color: var(--item-hover-text);
            }

            &.active {
                background: var(--item-hover-background);
                border-color: var(--item-active-border);
                color: var(--item-hover-text);
            }

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                margin-left: 1px;
                margin-right: 6px;
                background: url('resources/library/library.png') no-repeat;
            }

            &[data-identifier="playlist"]::before {
                background-image: url('resources/library/playlist.png');
            }

            &[data-identifier="artist"]::before {
                background-image: url('resources/library/artist.png');
            }

            &[data-identifier="album"]::before {
                background-image: url('resources/library/album.png');
            }

            &[data-identifier="downloaded"]::before {
                background-image: url('resources/library/download.png');
            }

            &[data-identifier="by-you"]::before {
                background-image: url('resources/library/playlist_user2.png');
            }

            &[data-identifier="by-spotify"]::before {
                background-image: url('resources/library/playlist_auto.png');
            }

            &:has(input:checked) + .wmpotify-libx-sidebar-downlevel {
                display: flex;
            }
        }

        &.rootCollapsed {
            .wmpotify-libx-sidebar-item-container,
            .wmpotify-libx-sidebar-downlevel {
                display: none;
            }
        }

        .wmpotify-libx-sidebar-item-container {
            margin-left: 19px;

            .wmpotify-libx-sidebar-chevron {
                position: absolute;
                margin-top: 3px;
                margin-left: -15px;
                width: 15px;
                height: 15px;
                background: url('resources/library/chevron.png') no-repeat;

                &:hover {
                    background-image: url('resources/library/chevron_hover.png');
                }
            }
        }

        &.rootCollapsed, .collapsed {
            .wmpotify-libx-sidebar-chevron {
                background-image: url('resources/library/chevron_collapsed.png');

                &:hover {
                    background-image: url('resources/library/chevron_collapsed_hover.png');
                }
            }
        }

        .wmpotify-libx-sidebar-item-container:first-child {
            display: block !important;
            margin-left: 0;
        }

        .wmpotify-libx-sidebar-downlevel {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 38px;
        }

        .collapsed + .wmpotify-libx-sidebar-downlevel {
            display: none;
        }
    }
}

body[data-wmpotify-lib-page-open]:not(#Prio1):not(#Prio2):not(#Prio3) { /* dirty hack to increase specificity */
    #wmpotify-library-button {
        border-image-source: var(--tab-active);

        &:hover {
            border-image-source: var(--tab-active-hover);
        }

        &:active {
            border-image-source: var(--tab-active-pressed);
        }

        .wmpotify-tab-label {
            background-color: var(--tab-label-bg-active) !important;
            color: var(--tab-label-text-active) !important;
        }
    }

    .main-yourLibraryX-libraryContainer {
        > div:last-child {
            overflow: visible !important;
            height: calc(100% - 55px);
        }

        &:has(ul[role="treegrid"]) {
            > div:last-child {
                height: 100%;
                &:has(> .os-scrollbar-visible) {
                    height: calc(100% - 29px);
                }
            }
        }
    }

    #Desktop_LeftSidebar_Id {
        display: flex;
        width: 100vw;
        margin-left: calc(var(--panel-gap) * -1);
        margin-right: calc(var(--panel-gap) * -3);
        padding-top: 0;

        .main-yourLibraryX-header {
            display: none;
        }

        .main-yourLibraryX-library {
            border-radius: 0;
        }

        .LayoutResizer__resize-bar {
            display: none;
        }

        .search-searchCategory-contentArea {
            display: none;
        }
   
        .main-yourLibraryX-filterArea + div {
            margin-left: var(--libx-sidebar-width);
        }
    }
    
    &.sidebar-open #Desktop_LeftSidebar_Id {
        width: calc(100vw - var(--panel-width, var(--right-sidebar-width)) * 1px - 3px);
        margin-right: calc(var(--panel-gap) * -2 + 2px);
    }

    .Root__main-view {
        width: 0;
    }

    :root[data-wmpotify-style="xp"] & {
        #Desktop_LeftSidebar_Id {
            width: calc(100vw - var(--panel-gap) * 2);
            margin-left: 0;
        }

        &.sidebar-open #Desktop_LeftSidebar_Id {
            width: calc(100vw - var(--panel-width, var(--right-sidebar-width)) * 1px - var(--panel-gap) * 2 - 3px);
        }
    }
}

:root[data-wmpotify-dark-mode] {
    .main-yourLibraryX-library, .main-yourLibraryX-libraryContainer {
        background: #222222;
    }
    #wmpotify-libx-sidebar {
        .wmpotify-libx-sidebar-item-container {
            .wmpotify-libx-sidebar-chevron:not(:hover) {
                background-image: url('resources/library/chevron_dark.png');
            }
        }
        &.rootCollapsed, .collapsed {
            .wmpotify-libx-sidebar-chevron:not(:hover) {
                background-image: url('resources/library/chevron_collapsed_dark.png');
            }
        }
    }
    body[data-wmpotify-lib-page-open] {
        .main-yourLibraryX-libraryRootlist {
            background: #2e2e2e;
        }
        .main-yourLibraryX-filterArea,
        #wmpotify-libx-sidebar {
            background: #222222;
        }
    }
}

@media (forced-colors: active) {
    .main-yourLibraryX-libraryContainer {
        li[role="listitem"]:hover {
            [class*=encore-text], [class*=encore-text] * {
                color: var(--hilight-text) !important;
                background-color: var(--hilight) !important;
                forced-color-adjust: none !important;
            } 
        }

        #wmpotify-libx-header > button:hover:after,
        #wmpotify-libx-header > div:hover:after {
            color: unset;
        }

        .main-yourLibraryX-filterArea + div {
            background: var(--surface) !important;
            border-image: none !important;

            > span {
                border-image: none !important;
                color: ButtonText !important;
            }
        }
    }
}