.Root__right-sidebar {
    .BeautifulLyricsBackground-Container {
        opacity: 0;
    }

    aside.NowPlayingView * {
        color: var(--spice-text);
    }

    .main-nowPlayingView-queue * {
        color: var(--spice-text) !important;
    }

    .main-nowPlayingView-coverArt {
        border-radius: 0;
        box-shadow: var(--album-shadow-big) !important;
    }

    .main-nowPlayingView-contextItemInfo::before {
        display: none;
    }

    .main-nowPlayingView-aboutArtistButton.main-nowPlayingView-aboutArtistHasImage * {
        color: white !important;
    }

    .main-nowPlayingView-aboutArtistV2Button {
        background: transparent;
    }

    .main-nowPlayingView-section {
        background: transparent;

        .search-searchCategory-carouselButton {
            top: 50%;
        }
    }

    .main-trackInfo-artists a {
        color: var(--gray-text) !important;
    }

    aside.NowPlayingView {
        &:has(.canvasVideoContainerNPV) { /* Canvas is enabled */
            > div:first-child > div:first-child:not([class*=" "]), /* Newer versions that uses spice-main for the top bar when scrolled (puts multiple classes) */
            &[style*="--background-base"] > div:first-child > div:first-child { /* Older versions that uses colors from album art for the top bar when scrolled */
                .main-trackInfo-contentWrapper h1 {
                    color: white !important;
                }

                svg:has(path[d="M3 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm6.5 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM16 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"]) {
                    fill: white !important;
                }
            }

            .main-nowPlayingView-trackInfo {
                a, span {
                    color: white !important;
                }

                .main-trackInfo-artists a {
                    color: lightgray !important;
                }
            }

            .main-nowPlayingView-contextItemInfo button svg:not(.Svg-img-icon-small-textBrightAccent) {
                fill: white !important;
            }

        }
    }

    div[style*="i.scdn.co"] .main-nowPlayingView-sectionHeaderText {
        color: white !important;
    }
}